{% extends 'base.html' %}
{% block content %}
<h1>Hello {{name}}!!</h1> 

<button id="myClickButton" type="button">Generate News</button>
<div id="myOutput"></div>

<p>Is This Information Helful:</p>


<br>
<form action="submit">
  <div>
    <label>
      <input type="checkbox" name="ckbox" value="Yes" id="checkbox1" onClick="ckChange(this)" {checkStat == 0 ? disabled : }>
      Yes
    </label>
    <label>
      <input type="checkbox" name="ckbox" value="No" id="checkbox2 onClick="ckChange(this)">
      No
    </label>
</div>
    Additional Comments : <br><input type="text" name="submit">
    <br>
    <input type="submit">
</form>



{%endblock%}
